/* Universal rule for setting the box-sizing, padding, and margin across the entire page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the body element */
body {
    background-color: #d9dcd6;
}

/* This class handles the overall styling for the nav bar */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Makes the h1 element display inline with the other elements */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Handles the styling for the nav buttons */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Makes the list items inline elements */
li {
    display: inline-block;
    margin-left: 25px;
}

/* handles styling for the links in the nav bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* handles styling for p tag elements */
p {
    font-size: 16px;
}

/* Handles styling for the marketing img */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
}

/* Used to float an element to the left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Used to float an element to the left */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styling for the main content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Styling for the elements under the main sections */
.container{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* Handles styling for img elements under container sections */
.container img{
    max-height: 200px;
}

/* Styling for h2 elements withing the container class */
.container h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styling for the benefits sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Handles stlying for the elements within the benefits sidebar */
.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

/* Handles styling for h3 elements under the benefit class */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Handles styling for img elements under the benefit class */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Clears the floating rules and formats the footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Sets font size for h2 in the footer */
.footer h2 {
    font-size: 20px;
}

/* Sets the text color for the SEO in Horiseon */
#seo{
    color: #d9dcd6;
}

/* Sets the dimensions of the image to fill the parent element, but maintaining the correct ratio */
#marketing-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
